@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <h1>Welcome!</h1>
    </div>
    <br />
</center>
<h2>Please enter all information for Login:</h2>

<form action="/Home/Login" class="form1" onsubmit="return validUserName()">

    <input type="text" id="user" name="userName" placeholder="UserName" /><br /><br />

    <select id="colors" name="colorChoice" placeholder="Choose Color">
        <option value="Select Color">Select Color</option>
        <option value="black">Black</option>
        <option value="grey">Grey</option>
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
    </select><br /><br />

    <input type="text" id="password" name="passWord1" placeholder="Password" /><br /><br />

    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
</form>

<script>

    function validUserName() {
        var letters1 = /^[A-Za-z]+$/;
        var userName1 = document.getElementById("userName").value;
        if (letters1.test(userName1)) {
            return true;
        }
        else {
            alert("INVALID INPUT. Only alpha characters permitted.");
            return false;
        }
    }
</script>

<script>
    function selectedColor()
    var colorselect = "black"
    var changebackground = document.getElementById("black").value;
    if (colorselect.test(black)) {
        return true;
    }
    else if (colorselect.test(grey)) {
        return
        <body style="background-color:silver;"></body>
            true;
    }
    else if (colorselect.test(red)) {
        return
        <body style="background-color:red;"></body>
            true;
    }
    else if (colorselect.test(orange)) {
        return
        <body style="background-color:orange;"></body>
        true;
    }
    else if (colorselect.test(yellow)) {
        return
        <body style="background-color:yellow;"></body>
        true;
    }
    else if (colorselect.test(green)) {
        return
        <body style="background-color:green;"></body>
        true;
    }
    else if (colorselect.test(blue)) {
        return
        <body style="background-color:blue;"></body>
        true;
    }
    else (colorselect.test(purple)) {
        return
        <body style="background-color:purple;"></body>
        true;
    }

</script>

