
@{
    ViewBag.Title = "Welcome";
}

<center>
    <div class="alert alert-info">
        <h2>
            <strong>Thank You!</strong><br /><br /><br />

            The three @Session["Counter"] values are:
            @ViewBag.UserName<br />
            @ViewBag.ColorChoice<br />
            @ViewBag.Password<br />
        </h2>
    </div>
</center>




