
@{
    ViewBag.Title = "Welcome";
}

<center>
    <div class="alert alert-info">
        <h2><strong>Thank You!</strong></h2>
    </div>
</center>

The three @Session["Counter"] values are:
@ViewBag.UserName<br />
@ViewBag.ColorChoice<br />
@ViewBag.Password


